._mainPageDiv{

    scrollbar-width: none;
    width: 100vw;
    height: 100vh;
}

._mainPageDiv::-webkit-scrollbar {
    display: none;
}

._aboutSection {
    background-image: url('../static/beigeBackground.jpg');

}
._aboutSectionImage {
    width: 200px;
    height: 200px;
}
._expSection {
    background-image: url('../static/expBackground.jpg');
    justify-items: right;

}
._expSectionContent {
    width: 70%;
    text-align: center;
}

._expSectionTitle {
    padding-top: 50px;
    font-size: 40px;
    font-family:monospace;
}

._projectSection {

}

._blogSection {
    background-image: url('../static/pixelLibrary.png');
}
._blogCaption {
    text-align: center;
    padding-top: 50px;
}

._blogCaptionTitle {
    font-family:cursive;
    font-size: 50px;
    padding-bottom: 30px;
}

._blogCaptionBody {
    padding-bottom: 50px;
    font-family: cursive;
}

._blogSectionImage {
    height: 100px;
    width: 100px;
    &:hover {
        content: url('../static/openBook.png');
    }
}


._contactSection {

}

._mainImgL {
    width: 50vw;
}
._mainImgR {
    width: 50vw;

}