._snakeGameDiv {
    width: 100vw;
    height: 90vh;
    justify-content: center;
    padding-top: 10vh;
    position: relative;
    background-image: url('../static/grass.jpg');
}
._snakeGameTitle {
    text-align: center;
    font-family: fantasy;
    font-size: 32px;
}
._snakeGamePlayButtonContainer {

    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

._snakeGamePlayButton {
    all: unset;
    height: 40px;
    font-family:'Courier New', Courier, monospace;
    width: 160px;
    border-radius: 5%;
    background: linear-gradient(45deg, rgb(255, 191, 15),rgb(255, 107, 15),rgb(255, 210, 105),rgb(255, 98, 36),rgb(255, 132, 0));
    background-size: 300%;
    background-position:  0% 50%;
    font-size: 26px;
    transition: 0.3s;
    &:hover {
        cursor: pointer;
        background-position: 100% 50%;

    }
}
._snakeGameInstructions{
    
}
._snakeGameAuxillaryButtons {

}
._moveRight{
    background-color: black;
    width: 100px;
    height: 100px;
    animation: 2s moveRight linear forwards;
}

@keyframes moveLeft {

}
@keyframes moveRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(50vw);
    }
}
@keyframes moveDown {

}
@keyframes moveUp {

}